/*primer banner*/



h2{
    font-family: '8BitOperator', sans-serif;
    font-weight: bold; /* Bold */
}
.contenedorBanner{
    width: 100%;
    height: auto;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    width: 100%;
    height: 350px;
    background-color: black;
    position: relative;
    overflow: hidden;
}

.container-banner{
    max-width: 900px;
    width: 100%;/*el max width agarra el 100% del tamaño del padre pero con un limite de 900px*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fonts-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo-containerB{  
    width: 80%;
    display: flex;
}
.logoB{
    margin: auto;/*tiene un margen centrado*/
    width: 25%; /* El logo ocupará el 25% del contenedor */
    max-width: 80px; /* No excede su tamaño original */
    height: auto;
}
img {
    image-rendering: auto; /* Mejor ajuste para imágenes modernas */
    object-fit: contain; /* Mantiene la proporción */
    max-width: 100%; /* Se adapta al contenedor */
    height: auto;
  }

  .fonts-container h2{
    color: white;
    text-align: center;
    font-size: 5rem;
    margin: auto;
  }
  .fonts-container h2:last-child{
    color:#ffc654;
  }
  .button{
    width: 150px;
    font-size: 25px;
    text-align: center;
    color:black;
    background-color:#ffc948;
    padding:10 5 10 5px;
    font-family: '8BitOperator', sans-serif;
    font-weight: bold;
    border-radius: 10px;
    border: none; /* Eliminamos el borde */
    outline: 4px dashed white; /* Usamos outline como borde externo */
    outline-offset: -2.5px; /* Ajustamos la posición para que quede a la mitad */
  }

    .banner .control{
        position: absolute;
    }
    .control1{
        bottom: 0;
        left: 100px;
        width: 150px;
     }
    
    .banner .control:last-child{
       bottom: 0;
       right: 100px;
       width: 150px;
    }

  @media (max-width: 768px) {
    .container {
        padding: 0 0.5rem;
    }

    body {
        font-size: 14px;
    }

    .fonts-container h2{
        font-size: 4rem;
    }
    .control1{    
        left: 0;
        bottom: 30px;
        width: 120px;
     }
    
    .banner .control:last-child{
       right: 0;
       bottom: 30px;
       width: 120px;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 12px;
    }
    .fonts-container h2{
        font-size: 2rem;
    }
    .control1{    
        left: 10px;
        bottom: 20px;
        width: 110px;
     }
    
    .banner .control:last-child{
       right: 0;
       bottom: 20px;
       width: 110px;
    }
    .banner{
        align-items: flex-start;
        padding-top: 10px;
        height:310px;
    }
}

@media (max-width: 1200px) {
    .control1{    
        left: 100px;
     }
    
    .banner .control:last-child{
       right: 100px;
    }
}

@media (max-width: 1000px) {
    .control1{    
        left: 30px;
     }
    
    .banner .control:last-child{
       right: 30px;
    }
}

@media (max-width: 640px) {
    .control1{    
        left: 10px;
        bottom: 20px;
        width: 130px;
     }
    
    .banner .control:last-child{
       right: 0;
       bottom: 20px;
       width: 130px;
    }
    .fonts-container h2{
        font-size: 3rem;
    }
}

.control1{    
    -webkit-animation: bounce-in-left 1.1s both;
    animation: bounce-in-left 1.1s both;
 }

.banner .control:last-child{
    -webkit-animation: bounce-in-right 1.1s both;
    animation: bounce-in-right 1.1s both;
}

.fonts-container{
    -webkit-animation: bounce-in-top 1.1s both;
	        animation: bounce-in-top 1.1s both;
}

.button{
    -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
	        animation: heartbeat 1.5s ease-in-out infinite both;
}

/*animacion control 1*/


@-webkit-keyframes bounce-in-left {
    0% {
      -webkit-transform: translateX(-600px);
              transform: translateX(-600px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      -webkit-transform: translateX(-68px);
              transform: translateX(-68px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    72% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    81% {
      -webkit-transform: translateX(-28px);
              transform: translateX(-28px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    90% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    95% {
      -webkit-transform: translateX(-8px);
              transform: translateX(-8px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  @keyframes bounce-in-left {
    0% {
      -webkit-transform: translateX(-600px);
              transform: translateX(-600px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      -webkit-transform: translateX(-68px);
              transform: translateX(-68px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    72% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    81% {
      -webkit-transform: translateX(-28px);
              transform: translateX(-28px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    90% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    95% {
      -webkit-transform: translateX(-8px);
              transform: translateX(-8px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }


  /*animacion control 2*/
  @-webkit-keyframes bounce-in-right {
    0% {
      -webkit-transform: translateX(600px);
              transform: translateX(600px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      -webkit-transform: translateX(68px);
              transform: translateX(68px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    72% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    81% {
      -webkit-transform: translateX(32px);
              transform: translateX(32px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    90% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    95% {
      -webkit-transform: translateX(8px);
              transform: translateX(8px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  @keyframes bounce-in-right {
    0% {
      -webkit-transform: translateX(600px);
              transform: translateX(600px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      -webkit-transform: translateX(68px);
              transform: translateX(68px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    72% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    81% {
      -webkit-transform: translateX(32px);
              transform: translateX(32px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    90% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    95% {
      -webkit-transform: translateX(8px);
              transform: translateX(8px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  /*animaciones letras*/
  @-webkit-keyframes bounce-in-top {
    0% {
      -webkit-transform: translateY(-500px);
              transform: translateY(-500px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      -webkit-transform: translateY(-65px);
              transform: translateY(-65px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    72% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    81% {
      -webkit-transform: translateY(-28px);
              transform: translateY(-28px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    90% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    95% {
      -webkit-transform: translateY(-8px);
              transform: translateY(-8px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  @keyframes bounce-in-top {
    0% {
      -webkit-transform: translateY(-500px);
              transform: translateY(-500px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      -webkit-transform: translateY(-65px);
              transform: translateY(-65px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    72% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    81% {
      -webkit-transform: translateY(-28px);
              transform: translateY(-28px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    90% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    95% {
      -webkit-transform: translateY(-8px);
              transform: translateY(-8px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }

  /*boton comprar*/
  @-webkit-keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  @keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  
/*Categorias*/
.separador h2{
    padding: 20px;
    margin-top: 10px;
    font-size: 2.5em;
    border-bottom: 1px solid black;
    color: #ffc654;
    font-weight: bold;
}

.separador .row{
    margin:0;
}

.imgCategoria{
width: 100%;
height: 300px;
position: relative;
}
.imgCategoria h2 {
        position: absolute; 
        bottom:0; 
        left: 10px; 
        background-color: rgba(0, 0, 0, 0.5); 
        color: white; 
        padding: 5px; 
      }

.imgCategoria img{
 width: 100%;
 height: 100%;
 object-fit: fill;
 padding-top: 10px;
}

#imgvideogame{
 height: 600px; 
}
@media (max-width: 650px) {
        #imgvideogame{
                height: 300px; 
               }
}

/*lista productos*/

.cardProducto {
        --bg-card: #27272a;
        --primary: #ffc107;
        --primary-800: #373b3e;
        --primary-shadow: #2e1065;
        --light: #d9d9d9;
        --zinc-800: #18181b;
        --bg-linear: linear-gradient(0deg, var(--primary) 50%, var(--light) 125%);
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        padding: 1rem;
        width: 14rem;
        background-color: var(--bg-card);
        border-radius: 1rem;
        margin: auto;
        margin-top: 10px;
        height: 300px;
        justify-content: space-around;
        
      }
      
      .image_container {
        overflow: hidden;
        cursor: pointer;
      
        position: relative;
        z-index: 5;
      
        width: 100%;
        height: 8rem;
        background-color: var(--primary-800);
      
        border-radius: 0.5rem;
      }
      
      .image_container .image {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      
        width: 3rem;
        fill: var(--light);
      }
      
      .title {
        overflow: clip;
      
        width: 100%;
      
        font-size: 1rem;
        font-weight: 600;
        color: var(--light);
        text-transform: capitalize;
        text-wrap: nowrap;
        text-overflow: ellipsis;
      }
      
      .size {
        font-size: 0.75rem;
        color: var(--light);
      }
      
      .list-size {
        display: flex;
        align-items: center;
        gap: 0.25rem;
      
        margin-top: 0.25rem;
      }
      
      .list-size .item-list {
        list-style: none;
      }
      
      .list-size .item-list-button {
        cursor: pointer;
      
        padding: 0.5rem;
        background-color: var(--zinc-800);
      
        font-size: 0.75rem;
        color: var(--light);
      
        border: 2px solid var(--zinc-800);
        border-radius: 0.25rem;
      
        transition: all 0.3s ease-in-out;
      }
      
      .item-list-button:hover {
        border: 2px solid var(--light);
      }
      .item-list-button:focus {
        background-color: var(--primary);
      
        border: 2px solid var(--primary-shadow);
      
        box-shadow: inset 0px 1px 4px var(--primary-shadow);
      }
      
      .action {
        display: flex;
        align-items: center;
        gap: 1rem;
      }
      
      .price {
        font-size: 1rem;
        font-weight: 700;
        color: var(--light);
      }
      
      .cart-button {
        cursor: pointer;
      
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.25rem;
      
        padding: 0.5rem;
        width: 100%;
        background-image: var(--bg-linear);
      
        font-size: 0.75rem;
        font-weight: 500;
        color: black;
        text-wrap: nowrap;
      
        border: 2px solid hsla(262, 83%, 58%, 0.5);
        border-radius: 0.5rem;
        box-shadow: inset 0 0 0.25rem 1px var(--light);
      }
      
      .cart-button .cart-icon {
        width: 1rem;
      }
      
      .imgProduct{
        width:100%;
        height:100%;  
      }
 @media (max-width: 770px) {
        .cardProducto {
                width: 17rem; 
               }
         .col-12{/*tenemos que quitar el padding al col de boostratp
                 porque cuando se hace pequeño la pantalla ocupa mucho espacio*/
                padding:0;
         }      
}